<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.coffeemonkeys.EarPong">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="EarPong">
		<meta-data android:name="com.google.android.gms.games.APP_ID"
                   android:value="@string/app_id" />
	</application>
</manifest>
